<div class="container my-4 d-flex flex-row float-right">
  <span class="container me-5">
    <h4>Hello Mr. {{ user.name }}</h4></span
  >
  <span class="container">
    <button
      class="btn me-2 btn-danger float-end"
      (click)="userLogout(user.id)"
      type="button"
    >
      LogOut
    </button>
  </span>
</div>
<div class="container float-right">
  <button
    class="btn btn-outline"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
    id="btn-chat"
  >
    Chat
  </button>
</div>
<div class="container">
  <a
    routerLink="/ask-question"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <button class="btn ml-15 btn-primary" id="ask">Ask Question</button>
  </a>
  <br />
</div>
<app-all-questions></app-all-questions>
<br />

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-chat></app-chat>
  </div>
</div>
