<h3 style="text-align: center">Welcome {{ user.name }}</h3>

<button
  class="accordion-button collapsed"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseOne"
  aria-expanded="false"
  aria-controls="collapseOne"
  (click)="getMessage()"
>
  View Chat
</button>
<div class="container my-2" *ngFor="let message of messages">
  <mat-card class="card">
    <h4>{{ message.message }}</h4>
    <h6>{{ message.fromUser }}</h6>
  </mat-card>
</div>

<div class="container d-flex flex-row">
  <input
    type="search"
    class="form-control"
    placeholder="Enter message"
    #search
    (keyup.enter)="sendMessage(search.value)"
    aria-label="Search"
    aria-describedby="addon-wrapping"
  />
  
</div>
