<div class="body">
  <div class="login bg-dark">
    <form
      ngNativeValidate
      #adminloginform="ngForm"
      (ngSubmit)="Login(adminloginform.value)"
    >
      <div class="email">
        <label for="login" class="container"> <h2><b>Login As Admin</b></h2> </label
        ><br />
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          ngModel
          name="email"
          type="email"
          class="form-control"
          placeholder="Enter your Email Id"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
        />
        <br />
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          ngModel
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
      </div>
      <div class="loginButton">
        <button type="submit" class="btn btn-outline-light" [disabled]="adminloginform.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
