.mat-accordion{
    display: grid;
    margin: auto;
    width: 50%;
    margin-top:2rem;
}
.mat-expansion-panel-header-title{
    color: rgb(255, 255, 255);
}
.mat-accordion{
    display: grid;
    margin: auto;
    width: 50%;
    margin-top:2rem;
}
.mat-expansion-panel-header-title{
    color: #fff;
}
.mat-accordion .mat-expansion-panel{
    margin-bottom: 10px;
    align-items: center;
}