.body {
    /* background-color: rgb(43, 42, 42); */
    width: 100%;
    height: 100%;
}

.askQuestion {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 60px 100px;
}

h3 {
    text-align: center;
    font-size: 25px;
   /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 600;
    color: rgb(75, 75, 101);
}

.padding {
    padding: 15px 0;
}

.askQuestionButton {
    margin: 0 60px;
    text-align: center;
}

Button:hover {
    background-color: rgb(74, 74, 237);
}