<div class="container my-4">
  <h3 style="text-align: center">Helloo Mr. {{ user.name }}</h3>
</div>
<div class="body">
  <div class="askQuestion bg-dark">
    <form #askquestion="ngForm" (ngSubmit)="askQuestion(askquestion.value)">
      <div>
        <h3 class="text-light">Choose topic From the Drop Down</h3>
      </div>
      <div class="padding">
        <select
          ngModel
          name="topic"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option selected disabled>Choose Topic</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="Cloud">Cloud</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div class="mb-3 padding">
        <label for="exampleFormControlTextarea1" class="form-label text-light" style="display:inline-block"
          ><b>Post Your Question!</b></label
        >
        <textarea
          ngModel
          name="question"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
          required
        ></textarea>
      </div>

      <div class="askQuestionButton">
        <button type="submit" class="btn btn-light">Submit</button>
      </div>
    </form>
    <br />

    <div class="container row">
      <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)" />
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-light" type="button" (click)="onUpload()">
          Upload
        </button>
      </div>
    </div>

    <div class="container row">
      <div class="col-md-12">
        <div *ngIf="message">{{ message }}</div>
      </div>
    </div>
    <br />

    <div class="container row">
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="image name"
          [(ngModel)]="imageName"
          name="name"
        />
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-light" type="button" (click)="getImage()">
          Get Image
        </button>
      </div>
    </div>

    <div class="container row">
      <div class="col-md-12 my-2">
        <div *ngIf="retrievedImage">
          <img style="width: 500px; height: 200px" [src]="retrievedImage" />
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
